/* Global Styles */
* {
	background: #f3f5fc;
	font-family: "Inter";
	font-size: 32px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Header Styles */
.contenido-logo {
	width: 150px;
	display: inline;
	margin-bottom: 10px;
}

.logo {
	padding: 10px;
	width: 150px;
	transform: rotate(2s);
}

.logo:hover {
	transform: rotate(300deg);
}

h1 {
	display: inline;
	text-align: center;
	margin-left: 300px;
}

/* Main Content Styles */
.contenido-escritura {
	display: flex;
	flex-direction: row; /* Alinea las secciones en fila */
	justify-content: space-between; /* Espacia las secciones igualitariamente */
	align-items: flex-start; /* Alinea los elementos al inicio verticalmente */
}

.campo-escritura {
	flex: 1; /* Permite que este contenedor tome el espacio disponible */
	margin-right: 20px; /* Espacio entre las secciones */
}

.text-area {
	border: none;
	color: #0a3871;
	text-transform: lowercase;
	width: 100%;
	height: 400px;
	
}

::placeholder {
	color: #0a3871;
}

.text-area:focus {
	outline: none;
}

.contenido-informacion {
	margin: 20px;
}

.informacion {
	color: #495057;
	font-size: 18px;
	margin: 8px 0 20px 0;
	
}

.campo-botones {
	display: flex;
	justify-content: space-around;
	margin-top: 20px; /* Espacio superior para separar botones del textarea */
}

.boton-encriptar {
	background-color: #0a3871;
	border: 1px solid #0a3871;
	border-radius: 24px;
	color: white;
	cursor: pointer;
	height: 50px;
	width: 250px;
	margin-right: 20px;
}
.boton-encriptar:hover{
	background-color: #3d79d2;
	

}
.copiar{
	background-color: #d3dfe8;
	border: 1px solid #0a3871;
	border-radius: 24px;
	color: #0a3871;
	cursor: pointer;
	height: 50px;
	width: 250px;

}
.copiar:hover{
	background-color: #3d79d2;
	
}
.contenido-copiar{
	padding-top:20px ;
}
.boton-desencriptar {
	background-color: #d3dfe8;
	border: 1px solid #0a3871;
	border-radius: 24px;
	color: #0a3871;
	cursor: pointer;
	height: 50px;
	width: 250px;
}
.boton-desencriptar:hover{
	background-color: #3d79d2;
}

.campo-encriptador {
	flex: 1; /* Permite que este contenedor tome el espacio disponible */
	display: flex;
	flex-direction: column;
	align-items: center; /* Centra los elementos horizontalmente */
	


}

.mensaje {
	background: white;
	background-image: url("/imagenes/Muñeco.png");
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	border-radius: 24px;
	color: #0a3871;
	width: 100%;
	height: 450px;
	overflow: aut
}
.imagen_linkd{
	display: flex;
	justify-content: center;
}

/* Responsive Styles */
@media (max-width: 1200px) {
	.contenido-escritura {
		flex-direction: column; /* Cambia a columna para pantallas más pequeñas */
	}
	
	.campo-escritura, .campo-encriptador {
		flex: none; /* Remueve la flexibilidad para que los contenedores no se estiren */
		width: 100%; /* Asegura que los contenedores ocupen todo el ancho disponible */
		margin-right: 0; /* Remueve el margen derecho */
	}
	
	.text-area {
		height: 300px; /* Ajusta la altura para pantallas más pequeñas */
	}
	
	.mensaje {
		height: 300px; /* Ajusta la altura para pantallas más pequeñas */
	}
	
	.boton-encriptar, .boton-desencriptar, .copiar {
		width: 200px; /* Ajusta el ancho de los botones */

		.informacion {
			color: #495057;
			font-size: 18px;
			margin: 8px 0 20px 0;
			display: flex;
			justify-content: center;
		}
	}
}

@media (max-width: 768px) {
	/* Ajustes para pantallas muy pequeñas (tabletas y móviles) */
	.text-area {
		height: 200px; /* Ajusta la altura para pantallas más pequeñas */
		font-size: 20px; /* Reduce el tamaño de la fuente */
	}
	
	.mensaje {
		height: 200px; /* Ajusta la altura para pantallas más pequeñas */
	}
	
	.boton-encriptar, .boton-desencriptar, .copiar {
		width: 150px; /* Ajusta el ancho de los botones */
		font-size: 16px; /* Reduce el tamaño de la fuente */
	}
	
	h1 {
		margin-left: 0; /* Remueve el margen izquierdo para pantallas más pequeñas */
	}
	
	.contenido-escritura {
		flex-direction: column; /* Cambia a columna para pantallas más pequeñas */
	
		.informacion {
			color: #495057;
			font-size: 18px;
			margin: 8px 0 20px 0;
			display: flex;
			justify-content: center;
		}
	}

}